@import "mixins/mixins";
@import "common/var";

@include b(basic-table) {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  max-width: 100%;
  background-color: $--color-white;
  font-size: $--font-size-base;
  color: $--table-font-color;

  @include e(form) {
    margin-bottom: 16px;

    .el-form-item__action {
      height: $--input-height;
      line-height: $--input-height;
    }
  }

  @include e(header) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 8px 0px;
  }

  @include e(toolbar) {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 14px;

    >* {
      margin: 0px;
    }
  }

  .el-table__header {
    thead {
      &.is-group {
        th.el-table__cell {
          background: $--color-primary;
        }
      }

      background-color: $--color-primary;
      color: $--color-white;
    }

    th {
      background-color: $--color-primary;
    }
  }

  // 表格内容区域
  .el-table__body-wrapper {
    overflow: auto;
    color: $--color-text-primary;
  }

  @include e(pagination) {
    margin-top: 14px;
    text-align: center;
  }

  .el-table-action {
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    gap: 10px;

    // 给除最后一个子元素之外的所有子元素添加分隔线
    >*:not(:last-child)::after {
      content: "";
      display: block;
      width: 1px;
      height: 100%;
      background-color: #C1C4CB;
      position: relative;
      right: -5px;
    }
  }
}

.el-table-popconfirm {
  .el-popconfirm__action {
    display: flex;
    justify-content: center;
    gap: 10px;

    button {
      padding: 0px 15px;
      height: 1.5em;

      >span {
        display: inline-block;
        letter-spacing: 0.4em;
        text-align: center;
        transform: translateX(0.2em);
      }

    }
  }
}

@keyframes el-basic-table-rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}