@import "mixins/mixins";
@import "common/var";

@include b(page-header) {
  display: flex;
  line-height: #{$--font-size-base * 1.5};

  @include e(left) {
    display: flex;
    cursor: pointer;
    margin-right: 40px;
    position: relative;
    color: $--color-text-regular;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: $--font-size-base;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $--border-color-base;
    }

    .el-icon-back {
      font-size: $--font-size-base;
      margin-right: 6px;
      align-self: center;
    }

    @include e(title) {
      font-size: $--font-size-base;
    }
  }

  @include e(content) {
    font-size: $--font-size-base;
    color: $--color-text-primary;
    font-weight: 500;
  }
}