@import "mixins/mixins";

@include b(steps) {
  display: flex;
  font-size: $--font-size-base;

  @include m(simple) {
    padding: $--steps-padding 8%;
    border-radius: $--steps-border-radius;
    background: $--background-color-base;

  }

  @include m(horizontal) {
    white-space: nowrap;
  }

  @include m(vertical) {
    height: 100%;
    flex-flow: column;
  }
}